@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

.navTopBar{
    font-family: "Fira Sans", sans-serif;
    background: #001730;//#00897b;
    padding: 11px 0!important;
    
    .navbar-brand{
        //color : #000!important;
    }
    .nav-link{
        //color : #000!important;
    }
}